{% extends 'base.html' %}

{% block title %}Referente al Proyecto{% endblock %}

{% block content %}
<h2>Referente al Proyecto</h2>
<p>Este proyecto se centra en el análisis del uso inadecuado de los contenedores de residuos en la ciudad de Bogotá D.C., 
específicamente en la localidad de Suba, en el barrio Los Nogales de Tibabuyes II, comprendido entre la Carrera 129 y la Carrera 139.
El manejo inapropiado de los contenedores, especialmente por parte de los recolectores informales de materiales reutilizables,
es una problemática que afecta tanto a la eficiencia del sistema de recolección de residuos como al bienestar ambiental y social de la comunidad.</p>
<div id="map"></div>
{% endblock %}